<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/stylesheets/custom.css">
	<title>Document</title>
</head>
<body>
	<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Dining Mockup homepage", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Help",    help_path %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
	<div class="center hero-unit">
  <h1>Calhacks dining mockup</h1>

  <h2>
    This is the home page for the
    <a href="http://calhacks.io/">Calhacks project</a>
    by CKC and Lily.
  </h2>
	<a class="btn btn-large btn-primary" href="">Sign up now!</a>
	</div>
  <section>
    {% for f in food %}
    <p>{{f.name}}</p>
    {% endfor %}
  </section>
	<footer class="footer">
 
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
</body>
</html>